body {
	font-family: Cormorant, serif;
}

.navbar {
	margin: 32px;
}

h1 {
	display: inline-block;
	margin: 0 32px 0 0;
	font-weight: 300;
}

.links {
	display: inline-block;
}

.links ul {
	padding: 0;
}

.links li {
	display: inline-block;
}

.links a {
	color: black;
	text-decoration: none;
	font-size: 20px;
	margin: 0 8px;
}

a.active {
	border-bottom: 1px solid black;
}

.gallery {
	padding: 16px;
}

.card {
	/* since display is inline-block, the whitespace between the elements will be respected 
       hence we will use a width slightly less than 50%*/
	width: 49.75%;
	display: inline-block;

	/* to add the space around the card, we could've used margin
       but then things break because margin is added in addition to the width
       hence just use border-box and add padding instead of margin */
	box-sizing: border-box;
	padding: 12px;
}

.card img {
	/* img will occupy 100% of its container (.card), and card has a ~50% width */
	width: 100%;
	height: 400px;
}

.card h2 {
	font-weight: 300;
	margin: 8px 0 16px 0;
}
